/*======== Default ========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*======== Variables ========*/
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}
/*======== Base ========*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-color);
  background: var(--body-color);
  /*webkit deixa as fonts mais suaves , porem nem todos os navegadores tem suporte*/
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  /*vai se adptar a pagina em vez de apresentar a resolução original*/
  width: 100%;
  height: auto;
}

/*======== Header ========*/

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

/*======== Menu ========*/
nav {
  height: var(--header-height);
  display: flex;
  /*deixa um do lado do outro (logo <-> menu*/
  align-items: center;
  /*deixe bem centralizado a logo <> menu*/
  justify-content: space-between;
  /*justifica, deixa logo na estremidade esquerda <-> menu na estremidade direita*/
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover {
  color: var(--base-color);
}

nav ul li a::after {
  /*utilizando after, será após o conteudo*/
  content: '';
  width: 0%;
  /*Não vai aparecer a linha abaixo do menu*/
  height: 2px;
  background: var(--base-color);

  position: absolute;
  /*nav ul li a:hover::after -> é absoluto relativo à nav ul li a*/
  left: 0;
  bottom: -1.5rem;

  transition: width 0.3s;
  /*tempo para aparecer a barra*/
}

nav ul li a:hover::after {
  width: 100%;
  /*mas quando passar o mouse a linha a baixo do menu começa a aparecer*/
}

nav .menu {
  opacity: 0;
  visibility: hidden;
}
/*======== Mostrar Menu ========*/
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
  /*deixa todos os itens centralizados na tela*/
}

nav.show ul.grid {
  /*como a classe grid a cima tem uma especifidade maior foi necessario fazer o apontamento de .grid para receber em ul o peso maior que o apontado na classe grid*/
  gap: 4rem;
  /*espaçamento a lista de itens do menu*/
}
/*======== Logo ========*/
.logo {
  font: 700 1.31rem 'Poppins', sans-serif;
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}
/*======== Main ========*/
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
  /*Espaçamento entre os itens*/
}
.section {
  padding: 5rem 0;
  /*Em um espaçamento de 80px por cada section melhor aplicar uma classe em todas as sections para obedecer a esse padão*/
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}

main {
  margin-top: calc(var(--header-height) + 2rem);
}

#home {
  overflow: hidden;
  /*Não deixa transbordar*/
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  /*cria um elento fantasma antes da imagem*/
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem 'DM Sans', sans-serif;
  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}

/*======== Dicas utilizadas neste CSS ========*/
/*
#Dicas de código

#----Dica 001
{Dica Como calcular o "rem"}

Se o padrão do navegador é definir que uma fonte de 100% = 16px o calculo de "rem" será da seguinte maneira: 

imaginem que uma fonte tem 72px, para que eu possa
converter em "rem" devo achar um valor que multiplicado por 16 dê os 75px:

16*4,5 = 72px

exemple: height: 4.5rem;

#----Dica 002

Ex: nav .show é deferente de nav.show

nav .show (busco uma classe dentro de nav)

nav.show (nav vai receber uma classe .show)

*/
